/* variables */

$main-font-size: 1rem;
$wrapper-padding: 2rem;
$main-color: #ffffff;

/* main-style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  display: block;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: $main-font-size;
  color: $main-color;
  background-color: rgba(40, 44, 53, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: $wrapper-padding;

  .title-information {
    display: flex;
    align-items: center;
    color: $main-color;
    gap: 2rem;
    justify-content: center;
    text-shadow: 0.05rem 0.05rem 0.05rem #000;

    .dash {
      font-size: 3rem;
    }

    .des-title {
      font-size: 2rem;
    }
  }
}

.main-information {
  max-width: 70.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.content-list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-around;

  .content-item {
    width: 30rem;
  }
}

svg {
  width: 4rem;
  height: 4rem;
}

.list {
  width: 3.5rem;
  height: 3.5rem;
}

.plan {
  display: flex;
  justify-content: center;
  gap: 3rem;

  .plan-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 16rem;
    opacity: 0.6;
    transition: opacity 0.5s ease;

    .card-title {
      text-align: center;
    }
  }

  .opacity {
    opacity: 1;
  }
}
.card-icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.new-title {
  padding-bottom: 1.4rem;
}

.card-description {
  color: #000;
  padding: 1rem;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 1rem;
  text-align: inherit;
  font-weight: 600;
  span {
    display: inline;
  }
}

.underline-word {
  text-decoration: underline;
}

@media (max-width: 1159px) {
  .wrapper {
    width: 65rem;
  }

  .content-list {
    .content-item {
      width: 46rem;
    }
  }

  .plan {
    flex-wrap: wrap;
  }
}

@media (max-width: 1011px) {
  .wrapper {
    .title-information {
      .des-title {
        font-size: 1.5rem;
      }
      .title {
        font-size: 1.5rem;
      }
    }
  }
  .content-list {
    .content-item {
      width: 46rem;
    }
  }
}

@media (max-width: 800px) {
  .wrapper {
    padding: 1rem;
    .title-information {
      flex-direction: column;
      .dash {
        display: none;
      }
      .title {
        text-align: center;
      }
    }
  }
}

@media (max-width: 772px) {
  .content-list {
    .content-item {
      width: 25rem;
    }
  }
}

@media (max-width: 409px) {
  .wrapper {
    padding: 2rem 0;
  }

  .content-list {
    .content-item {
      width: 20rem;
      text-align: center;
    }
    padding: 0;
  }
}

/* fonts */

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Barlow-Regular.woff') format('woff'), url('../../assets/fonts/Barlow-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Barlow';
  font-style: bold;
  font-weight: 700;
  src: url('../../assets/fonts/Barlow-SemiBold.woff') format('woff'), url('../../assets/fonts/Barlow-SemiBold.ttf') format('ttf');
}
